# 결측치

> "ADP"

- toc:true
- branch: master
- badges: true
- comments: true
- author: 이강철
- categories: [python]
- hide :false
- published: true

* is.na(x) : 벡터에서 결측가 있는 경우 True를 반환

* complete.cases(x) : 해당 데이터프레임에서 어떤 객체가 가지는 변수 중에 한 개라도 NA가 있을 경우 False 를 뱉음

## R실습

* Ozone 변수에 존재하는 na의 개수 산출

In [4]:
sum(is.na(airquality$Ozone))

[1] 37

In [5]:
table(is.na(airquality$Ozone))

FALSE  TRUE
  116    37

* apply함수를 이용하여 각 변수의 na값이 몇 개가 있는지 확인

In [8]:
#summary(airquality)
apply(airquality,2,function(x) sum(is.na(x)))

  Ozone Solar.R    Wind    Temp   Month     Day
     37       7       0       0       0       0

* complete.case 함수를 이용하여 `airquality` 데이터에서 na값이 하나라도 존재하는 행들을 air_na 변수에 저장하고, na값을 하나도 가지지 않는 행들을 air_com 변수에 저장하기.

In [12]:
air_na <- airquality[!complete.cases(airquality),]

In [14]:
head(air_na)

   Ozone Solar.R Wind Temp Month Day
5  NA     NA     14.3 56   5      5
6  28     NA     14.9 66   5      6
10 NA    194      8.6 69   5     10
11  7     NA      6.9 74   5     11
25 NA     66     16.6 57   5     25
26 NA    266     14.9 58   5     26

In [15]:
air_com <- airquality[complete.cases(airquality),]

In [16]:
head(air_com)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
7 23    299      8.6 65   5     7
8 19     99     13.8 59   5     8

# 결측치 대치법

* completes analysis : 결측값이 존재하는 행을 삭제

* 평균, 중앙값, 최빈값, nearest neighbor 방법 등이 있음

## R 실습

* `airquality`의 `Ozone` 변수 값이 존재하지 않는 경우, 해당 변수를 평균값으로 대체하자.

In [19]:
airquality$Ozone[is.na(airquality$Ozone)] <- mean(airquality$Ozone, na.rm=T)

In [21]:
sum(is.na(airquality$Ozone))

[1] 0

### DMwR  패키지

In [28]:
library(DMwR2)

In [29]:
air_before <- airquality

In [32]:
air_after <- centralImputation(airquality) ## 결측치를 중앙값으로 대치

In [37]:
na_indx <- which(!complete.cases(airquality)) ## Na인덱스를 추출

In [38]:
head(air_before[na_indx,])

   Ozone    Solar.R Wind Temp Month Day
5  42.12931 NA      14.3 56   5      5
6  28.00000 NA      14.9 66   5      6
11  7.00000 NA       6.9 74   5     11
27 42.12931 NA       8.0 57   5     27
96 78.00000 NA       6.9 86   8      4
97 35.00000 NA       7.4 85   8      5

In [39]:
head(air_after)

  Ozone    Solar.R Wind Temp Month Day
1 41.00000 190      7.4 67   5     1
2 36.00000 118      8.0 72   5     2
3 12.00000 149     12.6 74   5     3
4 18.00000 313     11.5 62   5     4
5 42.12931 205     14.3 56   5     5
6 28.00000 205     14.9 66   5     6

* 아래의 값을 살펴본 결과 결측치가 중앙값으로 잘 대치 되었음을 확인하였다.

In [40]:
median(airquality$Solar.R,na.rm=T)

[1] 205

* k최근접 이웃 알고리즘을 이용하여 na값을 대치해보기

In [43]:
apply(knnImputation(air_before,k=3),2,function(x) sum(is.na(x)))

  Ozone Solar.R    Wind    Temp   Month     Day
      0       0       0       0       0       0