# 표준화
> "ADP"

- toc:true
- branch: master
- badges: true
- comments: true
- author: 이강철
- categories: [python]
- hide :false
- published: true

* 각 개체들이 평균을 기준으로 얼마나 떨어져 있는지를 나타내는 값으로 변환하는 과정

* `Z-Score` 표준화는 각 요소의 값에서 평균을 뺀 후 표준편차로 나누어 수행

* 변환 후 데이터의 평균은 0, 표준편차는 1의 값을 갖게 된다.

## R실습

* scale
    * center : TRUE이면 데이터에서 해당벡터의 평균을 뺌
    * scale : 
        * center = T, scale = T 이면 데이터를  해당 벡터의 표준편차로 나눔
        * center = F, scale = T 이면 데이터를 해당 벡터의 제곱평균제곱근으로 나눔
        * scale =  F 이면 데이터를 어떤 값으로도 나누지 않음

* mtcars 데이터의 mpg, hp 변수로만 이루어진 데이터프레임을 생성하고 각 변수를 표준화한 새로운 변수를 추가해보자.

In [2]:
library(tidyverse)

In [6]:
test <- mtcars %>%  select(mpg,hp)

In [35]:
test %>% transmute_at(vars(mpg,hp),scale) %>% head()
##scale(test$mpg, center=T,scale=T) 안되면 걍이런식으로 노가다 붙이자

                  mpg        hp
Mazda RX4          0.1508848 -0.5350928
Mazda RX4 Wag      0.1508848 -0.5350928
Datsun 710         0.4495434 -0.7830405
Hornet 4 Drive     0.2172534 -0.5350928
Hornet Sportabout -0.2307345  0.4129422
Valiant           -0.3302874 -0.6080186

# 정규화

* 정규화란 데이터의 범위를 0과 1사이로 변환하여 데이터의 분포를 조정하는 방법

* 특정 개체가 가지는 위치를 파악하고 비교할 때 유용하게 사용할 수 있다.

## R실습

* 사용자 정의함수 생성

In [27]:
normal <- function(x)
    {
    return ((x- min(x)) / (max(x)-min(x)))
}

In [38]:
iris2 <- iris %>% transmute_at(vars(-Species),normal)

In [39]:
head(iris); head(iris2)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width
1 0.22222222   0.6250000   0.06779661   0.04166667
2 0.16666667   0.4166667   0.06779661   0.04166667
3 0.11111111   0.5000000   0.05084746   0.04166667
4 0.08333333   0.4583333   0.08474576   0.04166667
5 0.19444444   0.6666667   0.06779661   0.04166667
6 0.30555556   0.7916667   0.11864407   0.12500000